@model System.Object
@{
    ViewBag.Title = "Resource Policy Set";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script>
        const fields = document.querySelectorAll(".input-field");
        fields.forEach((field) => {
            const input = field.querySelector("input");
            const label = field.querySelector("label");
            input.addEventListener("focus", () => { label.classList.add("active") });
            input.addEventListener("blur", () => { if (!input.value) label.classList.remove("active") });
        });
    </script>
}
<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h5>Success</h5>
                    <div>
                        Resource updated.
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12 m12">
                            <input type="button" value="Close" class="waves-effect waves-light btn blue darken-3 right" onclick="~/resource_set" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>