@model DotAuth.ViewModels.LinkProfileConfirmationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Confirm linking";
    ViewBag.IsEditDisplayed = false;
    ViewBag.IsConsentDisplayed = false;
    ViewBag.IsIndexDisplayed = false;
    ViewBag.IsProfileDisplayed = true;
}

<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card warning-card choice-card">
            <div class="card-content">
                <span class="card-title">Confirm profile linking</span>
                <p>The profile is already linked to <strong>another account</strong>. Do you want to link it anyway?</p>
                <div class="warning-banner" style="margin-top: 1rem;">
                    <i class="material-icons">warning_amber</i>
                    <div>
                        <strong>Warning:</strong> if you confirm, the <i>other account</i> and its profiles will be dropped.
                    </div>
                </div>
                <p class="grey-text text-darken-1" style="margin-top: 1rem;">Identity provider: @Model.Issuer</p>
            </div>
            <div class="card-action">
                <div class="choice-actions">
                    <a href="@Url.UserPath()" class="btn-flat waves-effect">Cancel</a>
                    <a href="@Url.UserConfirmProfileLinkingPath()" class="btn waves-effect waves-light">Link profiles</a>
                </div>
            </div>
        </div>
    </div>
</div>
