@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}
@model SimpleAuth.ViewModels.ErrorViewModel
@section Scripts
    {
    <script>
        const fields = document.querySelectorAll(".input-field");
        fields.forEach((field, index) => {
            const input = field.querySelector("input");
            const label = field.querySelector("label");
            input.addEventListener("focus", () => { label.classList.add("active") });
            input.addEventListener("blur", () => { if (!input.value) label.classList.remove("active") });
        });
    </script>
}
<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h5>@Model.Code @Model.Title</h5>
                    <div>
                        <h6>@Model.Message</h6>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        @Html.ActionLink("Go to front page", "Index", "Home", null, new { @class = "blue-text right" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>