.hand {
    cursor: pointer;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

/*
.middle {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
    */
