name: CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        dotnet: [ '5.0.x' ]
    steps:
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Get the sources
        uses: actions/checkout@v1
      - name: Run the build script
        run: .\build.ps1 --target Tests
        shell: powershell
