@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts
{
<script>
    location.href ='/Authenticate';
</script>
}

<div class="row valign-wrapper center-align" style="height:66vh">
    <div class="col s12">
        <h5 class="center-align grey-text">Loading...</h5>
    </div>
</div>